# Turn on URL rewriting
RewriteEngine On 

# Installation directory
RewriteBase /

# Protect application and system files from being viewed
RewriteRule ^(?:app\/controller|app\/model|external)\b.* index.php/$0 [L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^.*(.css|.js|.gif|.png|.jpg|.jpeg)$

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT]

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>